.pag{
    margin-top: 100px;
    height: 465px;
    margin-bottom: 100px;
}
.listagem{
    font: 12pt Arial;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
}
.titulo{
    font-weight: bold;
}